---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
import Navbar from "../components/Navbar.astro";

import heroImg from "../assets/images/hero.jpg";
import dressImg from "../assets/images/dress.jpg";
import foodImg from "../assets/images/food.jpg";

import Sponsors from "../components/Sponsors";
---

<Layout title="NZ Ethnic Women's Trust">
  <header
    class="w-full flex justify-between items-center p-10 max-md:p-4 max-md:flex-col gap-6"
  >
    <Image src={logo} alt="logo" width={500} />

    <button class="btn btn-outline w-36 max-md:w-full">Donate</button>
  </header>
  <Navbar />
  <main class="flex gap-20 flex-col mt-10">
    <section class="flex justify-between px-10 items-center">
      <div>
        <p
          class="text-6xl leading-relaxed max-lg:leading-relaxed font-medium max-2xl:text-5xl max-lg:text-4xl"
        >
          To provide a safe place where women can express their views freely in
          a supportive environment.
        </p>
      </div>
      <Image
        src={heroImg}
        alt="hero"
        width={750}
        class="rounded-3xl max-lg:w-1/2"
      />
    </section>

    <section class="bg-primary p-6 mx-10 flex flex-col items-center gap-6">
      <p class="text-4xl leading-relaxed">
        The New Zealand Ethnic Women's Trust is a <b>non-profit</b> led by
        migrant and refugee women from various global regions. We aim to offer a
        secure space for women to voice their perspectives and provide services
        to enhance their skills and confidence for settling in New Zealand.
      </p>
      <button class="btn btn-outline w-fit max-md:w-full"
        >Learn more about us</button
      >
    </section>

    <Sponsors client:only="react" />

    <section
      class="w-10/12 mx-auto h-[600px] max-md:h-[400px] relative max-w-6xl"
    >
      <div
        class="bg-primary absolute top-1/2 left-1/2 w-[95%] h-[95%] -translate-y-1/2 -translate-x-1/2 -z-10"
      >
      </div>
      <div class="w-full h-full grid grid-cols-2 grid-rows-2">
        <h1 class="text-7xl justify-self-center self-center">Get involved</h1>
        <Image
          src={foodImg}
          alt="Food serving"
          width={700}
          class="w-full h-full object-cover scale-110"
        />
        <Image
          src={dressImg}
          alt="Girl in dress"
          width={600}
          class="w-full h-full object-cover scale-110"
        />
        <p class="text-2xl p-16 justify-self-center self-center">
          Our organization thrives on the dedication of our long-standing
          volunteers. If you're keen to leverage your skills to benefit the
          local community, please register to volunteer with us.
        </p>
      </div>
    </section>
  </main>
</Layout>
