---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import logo from "../assets/images/logo.png";
import Navbar from "../components/Navbar.astro";

import heroImg from "../assets/images/hero.jpg";

import Sponsors from "../components/Sponsors";
---

<Layout title="NZ Ethnic Women's Trust">
  <header
    class="w-full flex justify-between items-center p-10 max-md:p-4 max-md:flex-col gap-6"
  >
    <Image src={logo} alt="logo" width={500} />

    <button class="btn btn-outline w-36 max-md:w-full">Donate</button>
  </header>
  <Navbar />
  <main>
    <div class="flex justify-between px-10 items-center mt-20">
      <div>
        <p
          class="text-6xl leading-relaxed max-lg:leading-relaxed font-medium max-2xl:text-5xl max-lg:text-4xl"
        >
          To provide a safe place where women can express their views freely in
          a supportive environment.
        </p>
      </div>
      <Image
        src={heroImg}
        alt="hero"
        width={750}
        class="rounded-3xl max-lg:w-1/2"
      />
    </div>

    <div class="bg-primary p-6 mx-10 mt-20 flex flex-col items-center gap-6">
      <p class="text-4xl leading-relaxed">
        The New Zealand Ethnic Women's Trust is a <b>non-profit</b> led by
        migrant and refugee women from various global regions. We aim to offer a
        secure space for women to voice their perspectives and provide services
        to enhance their skills and confidence for settling in New Zealand.
      </p>
      <button class="btn btn-outline w-fit max-md:w-full"
        >Learn more about us</button
      >
    </div>

    <Sponsors client:load />
  </main>
</Layout>
