---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import groupPic from "../assets/images/group-pic.jpg";
---

<Layout title="Volunteer">
  <div class="flex gap-20 flex-col max-md:gap-10">
    <section
      class="flex flex-col items-center gap-6 pt-20 max-md:pt-10 relative"
    >
      <div class="py-44 max-md:py-10">
        <div class="text-center flex flex-col gap-6 max-md:gap-2 text-base-200">
          <h1 class="text-8xl font-bold max-md:text-2xl z-10 text-base-200">
            Volunteer
          </h1>
        </div>

        <Image
          src={groupPic}
          alt="Helping"
          class="absolute top-0 left-0 w-full h-full object-cover rounded-2xl mx-auto"
          width={700}
        />
        <div
          class="absolute top-0 left-0 w-full h-full object-cover bg-gradient-to-r from-primary to-black opacity-[35%]"
        >
        </div>
      </div>
    </section>
    <div class="flex flex-col gap-10">
      <h2 class="text-2xl max-md:text-xl">
        The backbone of our organisation is our volunteers, many of whom have
        been with us for years. If you've been looking for a place where you can
        use your skills, expertise and experience for the betterment of your
        local community, Please register if you would like to volunteer with us.
      </h2>
      <h2 class="text-2xl max-md:text-xl text-center">
        We sincerely appreciate your help.
      </h2>
    </div>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLScpVJOajjfFrJFUtVF184Y_7hjSEf_sVfrkqg9lFguNAqUl1A/viewform"
      class="btn btn-primary rounded-none text-2xl w-fit mx-auto"
      target="_blank">Register here</a
    >
  </div>
</Layout>
