---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <div class="mt-10">
    <div class="prose mx-auto">
      <Image
        src={frontmatter.image}
        alt={frontmatter.title}
        width={700}
        class="mx-auto rounded-2xl aspect-square object-cover"
      />
      <slot />

      <a href="" class="btn btn-primary rounded-none text-2xl w-full"
        >Join Now</a
      >
    </div>
  </div>
</Layout>
